@page
@{
    ViewData["Title"] = "Om sidan";
}
<h2>Om sidan</h2>
<p>
    Jag som har gjort den här sidan heter Emmy Adolfsén och är stolt ägare till SpaceCatoch även en del av Debug Thugs.
    <br />
    Jag sitter i krispiga Vemdalen, Härliga Härjedalen, och pluggar webbutveckling men kommer från början från blöta Småland.
    <br />
    Framtidsplanen är att ha friheten att kunna jobba "remote" när utbildningen är avslutad.
    Och självklart att fortsätta göra roliga webbplatsprojekt!
    <br />
    Kolla in min <a href="http://raggmunkar.se/portfolio/start">Portfolio</a> för mer info.
</p>
