@page
@{
    ViewData["Title"] = "Startsida";
}
<button class="show-hide"id="index-btn" onclick="byeCat()">Goodbye SpaceCat</button>
<img class="top-img show-hide"src="images/space-cat-big.jpg" alt="Cat in space"/>
<img class="bottom-img show-hide"src="images/space-big.jpg" alt="Space"/>