body {
    font-family: Courier New, Courier, monospace;
    font-size: 100%;
    background-color: #027368;
    color: black;
}
.container {
    max-width: 900px;
    margin: 0 auto;
}
header {
    width: 100%;
    padding: 2rem 0;
    float: left;
    padding-bottom: 4rem;
}
header img {
    float: left;
    width: 30%;
}
.top-img {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;

}
.bottom-img {
    position: absolute;
    width: 100%;
    bottom: 0px;
    left: 0;
    z-index: 1;

}
button {
    position: absolute;
    top: 100px;
    z-index: 20;
    background-color: #00353b;
    color: white;
    border-radius: 5px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
}
.byeCat {
    display: none;
}
button:focus {
    outline: none;
}
.date {
    float: right;
}
main {
    margin: 0 auto;
    width: 100%;
    max-width: 900px;
}
main p a {
    color: black;

}main p a:visited {
    color: black;
}

nav {
    float: left;
    width: 25%;
    
}
ul {
    list-style: none;
    padding-left: 0;
}
li a {
    float: left;
    width: 80%;
    background-color: #00353b;
    padding: 1rem;
    margin-bottom: 1rem;
    text-decoration: none;
    font-size: 1rem;
    box-shadow: 1px 1px 2px #533d4a;
}
li a:hover {
    box-shadow: none;
}

a {
    color: #026873;
}
a:hover {
    color: #f26a4b;
    text-shadow: #533d4a 1px 1px, #533d4a 2px 2px;
    cursor: pointer;
    
}
a:visited {
    color: #026873;
}

h2 {
 
    font-size: 50px;
    color: #f26a4b;
    text-shadow: #533d4a 1px 1px, #533d4a 2px 2px, #533d4a 3px 3px;
}
#index-h2 {
    text-align: center;
}
h3 {
    color: #f26a4b;
    text-shadow: #533d4a 2px 2px 2px;
}
.courses li {
    padding: 0.5rem;
}
.course-list {
    border-bottom: 0.1px solid #00353b;
    padding-bottom: 0.3rem;
}
.main-content {
   
    width: 75%;
    float: left;
}
.earth-img {
    display: block;
    margin: auto;
    width: 70%;
}
footer p {
    position: relative;
    bottom: 20px;
    background-color: rgba(148,155,166,.5);
    margin-left: 3%;
    height: 100px;
    
    padding: 2.2rem;
}
.footer-square {
    position: relative;
    background-color: #f26a4b;
    width: 100%;
    height: 100px;
}
footer {
    margin-top: 3rem;
    float: left;
    text-align: center;
    width: 100%;
    max-width: 900px;
    
}

@media only screen and (max-width: 800px) {
    header {
        padding-bottom: 1rem;
        text-align: center;
        padding: 0;
        
    }
    header img {
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }
    .date {
        width: 100%
    }
    nav {
        width: 100%;
        margin-bottom: 0.5rem;
    }
    li a {
        text-align: center;
        width: 100%;
        border-bottom: solid grey 0.2px;
        margin-bottom: 0;
        box-shadow: none;
    }
    .main-content {
        width: 100%;
    }
    h2 {
        font-size: 25px;
    }
    h3 {
        font-size: 20px;
    }
    p {
        font-size: 14px;
    }
    
}
